dotenv
apscheduler
watchdog
croniter
python-dotenv
protobuf

langchain
langchain-core
langchain-community
langchain-experimental

langchain-ollama
langchain-openai

pypdf
docx2txt
unstructured
python-docx
psycopg[binary]
chardet

faiss-cpu
chromadb 
langchain-chroma
langchain_postgres
opensearch-py
qdrant-client
langchain-qdrant
weaviate-client
langchain-weaviate
pymilvus[milvus_lite]
milvus-client
langchain-milvus
pinecone[grpc]
langchain-pinecone

fastapi
uvicorn 
sse-starlette
streamlit

pytest